
.body1{
  background: rgb(232,230,230);
  height: auto;
  position: relative;
}

.div1 {
    display: inline-block;
    margin-top: 50px;
    margin-left: 250px;
    width: 980px;
    height: 250px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6E6;
    box-shadow: 1px 3px 27px #595959;
    border-radius: 50px;
    margin-bottom: 20px;
  }

.div21 {
    margin-top: -35px;
    margin-left: 380px;
    width: 150px;
    height: 35px;
    background-color: #694030;
    border: 2px solid #694030;
    border-radius: 50px;
    font-size: 20px;
    color: #FFFFFF;
    padding-left: 4%;
}


.div3, .cancel-btn {
    margin-top: 50px;
    margin-left: 270px;
    width: 170px;
    height: 40px;
    background-color: #FFFFFF;
    border: 2px solid #407C51;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    color: #407C51;
}

.cancel-btn {
    padding-bottom: 3px;
    margin-left: 50px;
    position: relative;
    display: inline-block;
    color: #FFFFFF;
    background: #407C51;
    overflow: hidden;
    border: none;
    cursor: pointer;

    &:before {
        content: "Ви впенені?";
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100px;
        background: linear-gradient(to right, #F44336, #B71C1C);
        transition: left 1s;
        color: white;
        padding-top: 3px;
    }
    &:hover:before {
        left: 0;
    }
}

.div3:hover {
    background-color: #407C51;
    color: #FFFFFF;
    cursor: pointer;
  }

.div4 {
    margin-top: 30px;
    margin-left: 382px;
}

.div5 {
    margin-top: -220px;
    margin-left: 30px;
    box-shadow: 1px 3px 27px #407C51;
    width: 160px;
    height: 160px;
    border-radius: 100px;
}


.h21{
    margin-left: 210px;
    margin-top: 20px;
    font-size: 35px;
    color: #1F292A;
}

.h31{
    margin-left: 235px;
    margin-top: 20px;
    font-size: 25px;
    color: #1F292A;
  }

.appdet{
    margin-left: 600px;
    margin-top: -240px;
}

.p1 {
    margin-left: 210px;
    margin-top: -22px;
    font-size: 16px;
    color: #595959;
    padding: 8px;
}

@media screen and (max-width: 1400px) {
    .div1 {
        width: 800px;
        margin-left: 200px;
        padding-right: 20px;
        .appdet {
            font-size: 25px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .div1 {
        width: 600px;
        margin-left: 150px;
        padding-right: 20px;
        height: 370px;

        .div5 {
            width: 150px;
            height: 150px;
            margin-top: -160px;
        }
        .div21, .h31 {
            margin-top: 90px;
        }

        .div21 {
            width: 180px;
            height: 45px;
            font-size: 24px;
            margin-left: 320px;
            margin-top: -40px;
            padding-left: 47px;
        }
        .h31 {
            font-size: 24px;
            margin-left: 190px;
        }

        .appdet {
            font-size: 25px;
            margin-left: 210px;
            margin-top: -265px;
        }
        .div4 {
            display: flex;
            margin-right: 20px;
            margin-left: 180px;

            .p1 {
                margin-left: 10px;
                display: flex;
            }
        }
        .div3 {
            margin-top: 45px;
            margin-left: 85px;
            width: 180px;
            height: 45px;
            font-size: 22px;
        }

        .cancel-btn {
            width: 180px;
            height: 45px;
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 780px) {
    .div1 {
        margin-left: 50px;
    }
}
