.body11 {
    background: rgb(232,230,230);
    background-size: cover;
    height: 655px;
    position: relative;
}

.img11 {
    margin-top: 70px;
    margin-left: 200px;
    box-shadow: 1px 3px 27px #407C51;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.h22 {
    margin-left: 150px;
    margin-top: -200px;
    font-family: 'Oswald';
    font-size: 45px;
    color: #1F292A;
    letter-spacing: 7px;
    word-spacing: 60px;
}

.img22 {
    width: 32px;
    height: 32px;
    margin-left: 1200px;
    margin-top: -80px;
}

.img22:hover {
    cursor: pointer;
    margin-left: 1203px;
    margin-top: -77px;
    width: 26px;
    height: 26px;
}

.img33 {
    width: 32px;
    height: 32px;
    margin-left: 1280px;
    margin-top: -95px;
}

.img33:hover {
    cursor: pointer;
    margin-left: 1283px;
    margin-top: -92px;
    width: 26px;
    height: 26px;
}

.img44 {
    width: 32px;
    height: 32px;
    margin-left: 240px;
    margin-top: -30px;
}

.div11 {
    margin-top: 0px;
    margin-left: 500px;
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6E6;
    box-shadow: 1px 3px 27px #595959;
    border-radius: 50px;  
}

.div22 {
    margin-top: 40px;
    margin-left: 500px;
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6E6;
    box-shadow: 1px 3px 27px #595959;
    border-radius: 50px;  
}

.div33 {
    margin-top: -160px;
    margin-left: 900px;
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6E6;
    box-shadow: 1px 3px 27px #595959;
    border-radius: 50px; 
    cursor: auto;  
}

.div44 {
    margin-top: 40px;
    margin-left: 900px;
    width: 300px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid #E8E6E6;
    box-shadow: 1px 3px 27px #595959;
    border-radius: 50px; 
    cursor: auto; 
 
}

.p11 {
    margin-top: 13px;
    margin-left: 18px;
    font-family: 'Oswald';
    font-size: 20px;
    color: #595959;
    text-align: left;
}