.modal {
    height: 100vh;
    width: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.acttive {
    opacity: 1;
    pointer-events: all;
    width: 100%;
}

.modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: #FAF3DF;
    height: auto;
    width: auto;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    align-items: center;
    justify-content: center;

}

.modal_content.acttive {
    transform: scale(1);
}