@import url('https://fonts.cdnfonts.com/css/anton');
@import url('https://fonts.cdnfonts.com/css/getvoip-grotesque');

nav {
    background: #1F292A;
}

.logo {
    font-size: 30px;
    margin: 0 15% 0 55px;
    color: #B1D3BB;
    font-family: 'Anton', sans-serif;
}

.horizontal_nav{
    display: flex;
    justify-content: center;
    align-items: center;

    .child {
        margin-right: 15px;
        color: #B1D3BB;
        font-family: 'GetVoIP Grotesque', sans-serif;
        font-size: 15px;
    }
}

@media screen and (max-width: 1130px) {
    .logo {
        font-size: 30px;
        margin: 0 5% 0 55px;
        color: #B1D3BB;
        font-family: 'Anton', sans-serif;
    }

    .horizontal_nav{
        .child {
            margin-right: 15px;
            color: #B1D3BB;
            font-family: 'GetVoIP Grotesque', sans-serif;
            font-size: 14px;
        }
    }
}

