@import url('https://fonts.cdnfonts.com/css/anton');


.main {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

nav {
    background: #1F292A;

}

.logo {
    font-size: 35px;
    margin: 0 18% 0 55px;
    color: #B1D3BB;
    font-family: 'Times New Roman', sans-serif;
}

nav ul {
    margin-bottom: 15px;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
    height: 75px;
}

.btn {
    font-size: 14px;
}

.btn1 {
    margin-bottom: 1px;
    font-size: 14px;
    margin-left: 50px;
    height: 40px;
    width: auto;
    background: none;
    color: #B1D3BB;
    border-radius: 50px;
}

.btn2 {
    margin-top: 30px;
    margin-left: 90px;
    height: 40px;
    width: auto;
    cursor: pointer;
}

.btn2:hover {
    margin-top: 32px;
    margin-left: 92px;
    height: 36px;
    width: auto;
    cursor: pointer;
}

button:focus{
    background: #7BBD8E;
    transition: 0.5s;
}


nav ul li button {
    padding: 9px 65px;
    border-radius: 25px;
    font-size: 12px;
}






