@import url('https://fonts.googleapis.com/css?family=Anton');

.header_log{
    text-align: center;
    margin: 5px 0 50px 0;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color: #595959;
}

.button_log {
    width: 250px; /* Измените значение на нужный размер */
    height: 40px; /* Измените значение на нужный размер */
}

input{
    padding-left: 25px;
    margin: 0 0 10px 0;
    border-radius: 15px;
    background: #BCE4D1;
}

input:focus{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.button_log{
    margin: 30px 0 40px 0;
}

.button_log:hover{
    background: #407C51;
}

.button_left{
    margin-right: 30px;
}

.master {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("login.png") round;

}

.master_login {
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(to right,  rgb(232,230,230) 35%, rgb(177,211,187) 100%);
    border-image-slice: 1;
    border-radius: 170px;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    margin-top: -25%;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
    background: #FAF3DF;
    width: 550px;
    height: 400px;;
}

@media screen and (max-width: 550px) {
    .master_login {
        width: 400px;
    }
}

@media screen and (max-width: 405px) {
    .master_login {
        width: 350px;
        height: 350px;

        .header_log {
            font-size: 40px;
            margin-bottom: 30px;
        }

        .button_log {
            width: 200px;
        }

        .ent-log {
            width: 250px;
        }
    }
}