<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Server=tcp:holylocket.database.windows.net,1433;Initial Catalog=HolyLocketDB;Persist Security Info=False;User ID=ValeraLox123;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>