.appoint {
    background: #ffff;
}

table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctors {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.appoint-photo {
    border-radius: 40px;
    left: 10%;
    position: absolute;
    top: 10%;
    transform: translate(55%,35%);
    max-width: 200px;
    max-height: 200px;
    box-shadow: 10px 18px 20px 1px #7BBD8E ;
}

.doctor-info {
    transform: translate(31%,-11%);
    font-size: 18px;
    color: #1F292A;
}

p {
    font-size: 17px;
    margin-bottom: 5px;
}

.special {
    transform: translate(-34%,-11%);
}

.input-photo {
    padding-left: 100px;
}

.head {
    color: #1F292A;
    font-size: 25px;
    /*margin-left: 600px;*/
}

th, td {
    text-align: center;

}

.time-btn:focus{
    background: red;
}

.time-btn {
    background: #ffff;
    font-size: 16px;
    color: #407C51;
    padding: 5px 0 5px 0;
    margin: 2px 4px;
}

th, .time-btn {
    border: 2px solid #407C51;
    width: 175px;
    border-radius: 20px;
}

th {
    background: #407C51;
    opacity: 0.7;
    color: #1F292A;
}


thead {
    margin-bottom: 20px;
}

.days {
    font-weight: bold;
    font-size: 16px;

}

.days-btn {
    padding: 7px 0 7px 0;
}