//@import url('https://fonts.cdnfonts.com/css/bitter');
@import url('https://fonts.cdnfonts.com/css/roboto');
@import url('https://fonts.cdnfonts.com/css/getvoip-grotesque');


.header_regist {
    text-align: center;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'GetVoIP Grotesque', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 300px;
    height: 40px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #FFFFFF;
}

.input-box {
    position: relative;
    width: 196px;
    margin-left: 70px;
    margin-bottom: 30px;

    .reg_inpt {
        position: relative;
        padding: 5px 10px 5px;
        background: transparent;
        outline: none;
        box-shadow: none;
        color: white;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
        z-index: 10;
    }

    span {
        //font-family: 'GetVoIP Grotesque', sans-serif;
        font-family: 'Roboto Medium', sans-serif;
        top: 27%;
        position: absolute;
        left: 5%;
        padding: -20px 10px 10px;
        font-size: 1em;
        color: #f0f8ff;
        letter-spacing: 00.05em;
        transition: 0.5s;
        pointer-events: none;
    }

    .reg_inpt:valid ~span,
    .reg_inpt:focus ~span {
        color: #c9cbc8;
        transform: translateX(5px) translateY(-30px);
        font-size: 0,75em;
    }

     .reg_inpt:valid ~i,
     .reg_inpt:focus ~i {
        height: 44px;
    }
}

.form-control {
    background: transparent;
    color: white;
    border-radius: 0px;
}

.button_reg {
    margin: 5px 0 20px 95px;
    padding: 7px 40px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: #23c483;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    &:active {
        transform: translateY(-1px);
    }
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-height: 95vh;
    background: url("bg_reg.jpg") round;
    margin-top: -2%;
}

.master_2 {
    width: 500px;
    border: 3px solid #FFFF;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
    background: transparent;
    backdrop-filter: blur(30px);

    .footer_reg {
        color: white;

        .link_login {
            color:  deepskyblue;
            border-bottom: none;
            text-decoration: none;


            &:hover {
                filter: drop-shadow(0px 3px 3px  rgba(46, 229, 157, 0.4));
            }
        }
    }
}

.confirm {
    margin: 0 auto;
    display: block;

    &:hover {
        background-color: #bbbbbb;
    }
}

.qwe {
    color: #595959;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}

.suc {
    text-align: center;
    padding: 25px;
}

@media screen and (max-width: 520px) {
    .cont {

        .master_2 {
            width: 400px;

            .header_regist {
                margin-left: -10px;
                font-size: 35px;
            }
        }

        .inputее {
            margin-left: -50px;
        }

        .button_reg {
            margin-left: 50px;
        }
    }
}


@media screen and (max-width: 400px) {
    .cont {
        .master_2 {
            max-width: 250px;

            .button_reg {
                padding: 4px 10px;
                font-size: 10px;
                margin-left: 30px;
            }

            .header_regist {
                font-size: 22px;
                margin-bottom: 15px;
                margin-top: -10px;
            }

            .inputее {
                margin-left: -45px;

                .input-box {
                    margin-bottom: -5px;

                    &:nth-child(even) {
                        margin-left: 20px;
                    }

                    .reg_inpt:valid ~span,
                    .reg_inpt:focus ~span {
                        color: #c9cbc8;
                        transform: translateX(5px) translateY(-17px);
                        font-size: 0,75em;
                    }
                }

                .reg_inpt {
                    width: 150px;
                    font-size: 12px;
                }

                span {
                    font-size: 11px;;
                }
            }
            .footer_reg {
                font-size: 12px;
                margin-bottom: -20px;
            }
        }
    }
}

