@import url('https://fonts.cdnfonts.com/css/lack');
@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/montserrat');

.bodys {
   background: url("https://catherineasquithgallery.com/uploads/posts/2023-02/1676725398_catherineasquithgallery-com-p-fon-zelenii-meditsina-1.jpg") center no-repeat;
    background-size: cover;
    min-width: 100.8vw;

    .blurd {
        height: 90.2vh;
        width: 550px;
        background: transparent;
        backdrop-filter: blur(35px);
        display: grid;
        align-items: center;

        .firt-part-logo {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: #1F292A;
            margin-top: -25%;
            margin-left: 17%;
            font-size: 120px;
            opacity: 0.9;
            filter: drop-shadow(10px -4px 7px #B1D3BB);
        }

        .subscript_frs {
            position: relative;
            font-size: 20px;
            top: 0.7em; /* Регулируйте значение, чтобы определить расстояние от слова HOLY */
            left: 3em;
            font-family: 'Lack', sans-serif;
        }


        .main-text {
            color: #ffffff;
            font-family: 'Oswald', sans-serif;
            font-size: 15px;
            line-height: 1.7;
            margin: 0 0 3% 7%;

            .textt {
                font-family: 'Lack', sans-serif;
                font-size: 16px;
            }

            .headerr {
                font-size: 25px;
                margin-left: 40px;
            }
        }
    }

    .sec-part-logo-main {
        margin-left: 120px;
        margin-bottom: 250px;
    }
    .sec-part-logo {
        font-family: 'Montserrat', sans-serif;

        font-weight: bold;
        color: #1F292A;
        font-size: 120px;
        position: relative;
        top: 55%;
        left: 25%;
        opacity: 0.9;
        filter: drop-shadow(10px -4px 7px #B1D3BB);


    }
    .subscript_sec {
        position: relative;
        font-size: 20px;
        top: 9.8em;
        left: 19.6em;
        font-family: 'Lack', sans-serif;
    }
}

@media screen and (max-width:1400px) {
    .bodys {

        .blurd {
            width: 450px;

            .firt-part-logo {
                font-size: 100px;

            }
            .subscript_frs {
                font-size: 16px;
                top: 0.5em;
            }
        }
        .sec-part-logo {
            font-size: 100px;
            top: 60%;
            left: 10%;

        }
        .subscript_sec {
            position: relative;
            font-size: 20px;
            top: 9em;
            left: 11em;
            font-family: 'Lack', sans-serif;
        }
    }
}

@media screen and (max-width:1080px) {
    .bodys {

        .blurd {

            .firt-part-logo {
                font-size: 80px;

            }
            .subscript_frs {
                font-size: 18px;
            }
        }

        .sec-part-logo {
            font-size: 80px;
            top: 50%;
            left: -25%;


        }
        .subscript_sec {
            position: relative;
            top: 7.5em;
            left: 2em;
            font-size: 18px;
        }
    }
}

@media screen and (max-width:890px) {
    .bodys {
        height: 80vh;
        .blurd {
            backdrop-filter: blur(30px);
            width: auto;
            min-width: 100vw;


            .firt-part-logo {
                font-size: 75px;
                margin-left: 22%;

            }
            .subscript_frs {
                font-size: 16px;
                top: -1em;
                left: 7em;
            }
        }
        .sec-part-logo-main {

            .sec-part-logo {
                font-size: 75px;
                top: -370%;
                left: 85%;


            }
            .subscript_sec {
                font-size: 15px;
                top: -31em;
                left: 22em;
            }
        }

    }
}

@media screen and (max-width:890px) {
    .bodys {
        height: 80vh;
        .blurd {
            backdrop-filter: blur(30px);
            width: auto;
            min-width: 100vw;


            .firt-part-logo {
                font-size: 65px;
                margin-left: 15%;

            }
            .subscript_frs {
                font-size: 16px;
                top: -1em;
                left: 7em;
            }
        }
        .sec-part-logo-main {

            .sec-part-logo {
                font-size: 65px;
                top: -410%;
                left: 85%;


            }
            .subscript_sec {
                font-size: 15px;
                top: -30.5em;
                left: 19em;
            }
        }

    }
}

@media screen and (max-width:890px) {
    .bodys {
        height: 80vh;
        .blurd {
            backdrop-filter: blur(10px);
            width: auto;
            min-width: 100vw;


            .firt-part-logo {
                font-size: 45px;
                margin-left: 15%;

            }
            .subscript_frs {
                font-size: 16px;
                top: 1em;
                left: 7em;
            }

            .main-text {
                color: black
            }
        }
        .sec-part-logo-main {

            .sec-part-logo {
                font-size: 45px;
                top: -345%;
                left: 65%;


            }
            .subscript_sec {
                font-size: 15px;
                top: -32em;
                left: 10em;

            }
        }

    }
}


