@import url('https://fonts.cdnfonts.com/css/new-caledonia-lt-std');

.master-doctor {
    background: linear-gradient(to right, rgba(177, 211, 200, 0.5) 35%, rgb(232, 230, 230) 100%);
}

.filters {
    margin-left: 40px;
    display: flex;
    align-content: center;
    border: 4px solid white;
    width: 190px;
    height: 500px;
    border-radius: 0 0 35px 35px;
    background: #9DB39F;
    padding-top: 24px;
    padding-left: 20px;
    max-width: 100%;
}

.filt {
    font-size: 22px;
    color: #1F292A;

}

.filt-btn {
    background: none;
    font-size: 17px;
    color: #595959;
    margin-top: 20px;
    margin-bottom: 40px;
}

.filt-btn:hover {
    color: aqua;
    background: none;
}

.many {
    padding-top: 40px;
    transform: translate(-60%, 0%);
}

.many li:not(:last-child) {
    margin-bottom: -30px;
}

.dropdown-menu {
    width: auto;
    min-width: 100px;
}

.card-container {
    margin-top: 20px;
    margin-left: -20px;
    .cards {
        margin: 20px;
        padding-left: 17vh;
        height: 540px;
        background: white;
        width: 300px;
        text-align: center;
    }

    .ded {
        max-width: 170px;
        max-height: 170px;
        border-radius: 40%;
        padding-right: 10px;
        transform: translate(-30%, 20%);
    }

    .name,
    .exp,
    .info {
        margin-top: 45px;
        margin-left: -140px;
        font-size: 25px;
        color: #595959;
    }

    .name {
        color: #1F292A;
        padding-left: 15px;
    }

    .info {
        font-size: 17px;
        max-width: 270px;
        margin-top: 15px;
        margin-left: -115px;
        font-family: 'New Caledonia LT Std', sans-serif;


    }

    .exp {
        font-size: 19px;
        margin-top: 8px;
    }

    .specail-card {
        margin-left: 15px;
        font-size: 19px;
        color: #595959;
    }

    .more_info {
        background: #7BBD8E;
        padding: 10px 50px;
        border-radius: 20px;
        transform: translate(-37%, 60%);
        color: #ffff;
    }

    .more_info:hover {
        background: #3F7652;
    }

    .more_info::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #ffff;
        margin-left: 5px;
    }
}



@media screen and (max-width: 1450px) {
    .card-container {
        .cards {
            width: 300px;
        }
        .ded {
            transform: translate(-45%, 20%);
        }
        .more_info {
            transform: translate(-50%, 60%);
        }
    }
}

@media screen and (max-width: 1100px) {
    .card-container {
        .cards {
            width: 250px;
        }
        .ded {
            transform: translate(-57%, 20%);
        }
        .more_info {
            transform: translate(-57%, 60%);
        }
    }
}




